# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Practicando_python\el_ahorcado\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
